{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Page</title>
    <link rel="stylesheet" href="{% static 'music/style.css' %}">
</head>
<body>
    <h1>WELCOME TO MY SPOTIFY PAGE</h1>
    {% for all_albums in all_albums %}

    <h3>Albums</h3>
    {{ all_albums.title }} - {{ all_albums.artist }}
    {% endfor %}
     
    <h3>Songs</h3>
    {% for all_songs in all_songs %}
    {{ all_songs.name }} - {{ all_songs.artist }}

    {% endfor %}

    
</body>
</html>